<div class="row">
  <div class="column-center">
    <button class="button-outline" (click)="updateElephants()">Load Elephant Birthday Calendar</button>
  </div>
</div>
<div class="row">
  <div class="column">
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Family</th>
        <th>Birthday</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let elephant of elephants" (click)="onSelect($event)">
        <td>{{elephant.name}}</td>
        <td>{{elephant.family}}</td>
        <td>{{elephant.birthday | date:'mediumDate'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

